<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Поиск</title>
</head>
<body style="background-color: antiquewhite">

<form th:method="GET" th:action="@{/books/search}">
    <label for="search">Введите поисковый запрос</label>
    <input th:type="text" id="search" th:name="pattern" th:value="${pattern}"/>
    <br>
    <input type="submit" value="Искать"/>
</form>
<br>
<div th:if="${pattern != null}">
    <div th:if="${book == null}">Книга не найдена</div>
    <div th:if="${book != null}">
        <a th:href="@{/books/{id}(id=${book.getBookId()})}"
           th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">Book link</a>
        <br>
        <br>
        <div th:if="${book.getPerson() == null}">Книга свободна</div>
        <div th:if="${book.getPerson() != null}" th:text="${'Книга сейчас у: ' + book.getPerson().getFullName()}"></div>
    </div>
</div>
<br>
<hr>
<a href="/books?page=0&books_per_page=10&sort_by_year=false">Книги</a>
<br>
<hr>
<a href="/">На главную</a>
</body>
</html>